<h2>My Heroes</h2>
<ul class="heroes">
  <!-- Add `*ngFor` to the `<li>` to iterate through the list of heroes

  The `*ngFor` is Angular's *repeater* directive
  It repeats the host element for each element in a list
  The syntax in this example is as follows:
  * `<li>` is the host element
  * `heroes` holds the mock heroes list from the `HeroesComponent` class, the mock heroes list
  * `hero` holds the current hero object for each iteration through the list

  The event binding listens for the button's click events and calls the component's `onSelect()` method whenever a click occurs
  i.e. The parentheses around `click` tell Angular to listen for the `<li>` element's `click` event, then when a user clicks in the `<li>`, Angular executes the `onSelect(hero)` expression
  This is an example of Angular's event binding syntax
  `(click)` is the target event name, and `onSelect(hero)` is the template statement

  To style the selected hero, Angular class binding makes it easy to add and remove a CSS class conditionally
  Just add `[class.some-css-class]="some-condition"` to the element you want to style
  Here when the current row hero is the same as the `selectedHero`, Angular adds the `selected` CSS class
  When the two heroes are different, Angular removes the class -->
  <li *ngFor="let hero of heroes"
      (click)="onSelect(hero)">
    [class.selected]="hero === selectedHero"
    <span class="badge">{{ hero.id }}</span> {{ hero.name }}
  </li>
</ul>

<!-- Add data binding to the new `hero` property -->
<!--{{ hero }}-->

<!-- This is an example of a *one-way* data binding from the `selectedHero` property to the `hero` property
When the `selectedHero` changes, the *property binding* updates `hero` and the `HeroDetailComponent` displays a new hero -->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>
