<div class="container-fluid">
  <div class="row">
    <div class="col bg-dark text-white">
      <a class="navbar-brand">SPORTS STORE</a>
    </div>
  </div>
  <div class="row">
    <div class="col-3 p-2">
      <!-- Here we have an event binding that invokes the component's `changeCategory` method when the button is clicked
      No argument is provided to the method, which has the effect of setting the category to `null` thus selecting all the products -->
      <button (click)="changeCategory()"
              class="btn btn-block btn-outline-primary">
        Home
      </button>
      <button (click)="changeCategory(cat)"
              *ngFor="let cat of categories"
              [class.active]="cat == selectedCategory"
              class="btn btn-outline-primary btn-block">
        {{ cat }}
      </button>
    </div>
    <div class="col-9 p-2">
      <!-- `*ngFor` is an example of a directive, which transforms the HTML element it is applied to
      As it duplicates the `div` element, the current object is assigned to a variable called `product`, which allows it to be referred to in other data bindings -->
      <div *ngFor="let product of products" class="card m-1 p-1 bg-light">
        <h4>
          {{ product.name }}
          <span class="badge badge-pill badge-primary float-right">
            {{ product.price | currency:"USD": "symbol": "2.2-2" }}
          </span>
        </h4>
        <div class="card-text bg-white p-1">
          {{ product.description }}
        </div>
      </div>
    </div>
  </div>
</div>
