<!-- This file contains the View (Template) -->
<h3 class="bg-primary text-center text-white p-2">
  {{ username }}'s To Do List
  <h6 class="mt-1">{{ itemCount }} {{ showComplete ? "" : "Incomplete" }} Items</h6>
</h3>

<!-- Grid layout to display an input element and a button element -->
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <!--Input element has an attribute whose name starts with the # character, which is used to define a variable
       to refer to the element in the template's data bindings -->
      <input class="form-control" placeholder="Enter task here" #todoText />
    </div>
    <div class="col-auto">
      <!-- The variable todoText, is used by the binding that has been applied to the button element
      This is an example of an event binding, and it tells Angular to invoke a component method called addItem,
      using the value property of the input element as the method argument -->
      <button class="btn btn-primary mt-1" (click)="addItem(todoText.value)">
        Add
      </button>
    </div>
  </div>
</div>
<div class="m-2">
  <table class="table table-striped table-bordered table-sm">
    <thead>
      <tr><th>#</th><th>Description</th><th>Done</th></tr>
    </thead>
    <tbody>
      <!-- This expression tells Angular to treat the tr element to which it has been applied, as a template that should
      be repeated for every object returned by the component's items property
      The let item part of the expression specifies that each object should be assigned to a variable called item
      so that it can be referred to within the template
      The ngFor expression also keeps track of the index of the current object in the array that is being processed,
      and this is assigned to a second variable called i
      ngFor is called a Structural Directive, which is a type of Angular Directive

      The result is that the tr element and its contents will be duplicated and inserted into the HTML document
      for each object returned by the items property
      i.e. For each iteration, the current to-do object can be accessed through the variable called item,
      and the position of the object in the array can be accessed through a variable called i -->
      <tr *ngFor="let item of items; let i = index">
        <!-- Here we have two data bindings, which can be recognized by the {{ and }} characters
        These bindings refer to the variables that are created by the *ngFor expression
        Bindings are not just used to refer to property and method names; they can also be used to perform simple
        JavaScript operations
        e.g. In the first binding, we sum the i variable and 1 -->
        <td>{{ i + 1 }}</td>
        <td>{{ item.task }}</td>
        <!-- The ngModel template expression creates a two-way binding between a data value, the item.complete in this
        case, and a form element, in this case an input element
        The initial value of the checkbox is set using the item.complete property, just like a regular one-way binding,
        but when the user toggles the checkbox, Angular responds by updating the specified model property-->
        <td><input type="checkbox" [(ngModel)]="item.complete" /></td>
        <!-- The remaining expressions in the tr template demonstrate how content can be generated selectively
        [*ngSwitch] expression is a conditional statement that is used to insert different sets of elements into the
        document based on a specified value, which is the item.complete property in this case
        *ngSwitchCase and *ngSwitchDefault are the equivalent to the case and default keywords of a regular JavaScript
        switch block
        The result here is that the first span element is added to the document when the value of the item.complete
        property is true, and he second span element is added to the document when item.complete is false
        i.e. The result is that the true/false value of the item.complete property is transformed into span elements
        containing either Yes or No -->
        <!--<td [ngSwitch]="item.complete">
          <span *ngSwitchCase="true">Yes</span>
          <span *ngSwitchDefault>No</span>
        </td>-->
      </tr>
    </tbody>
  </table>
</div>

<div class="bg-secondary text-white text-center p-2">
  <div class="form-check">
      <input class="form-check-input" type="checkbox" [(ngModel)]="showComplete" />
    <label class="form-check-label" for="defaultCheck1">
      Show Completed Tasks
    </label>
  </div>
</div>
