<!-- This file contains the HTML template that defines the look of the component and rendering of the bindings and can be considered the View, in combination with any CSS styles used

Below we are implementing null guarding with *ngIf, a structural directive, i.e. this stops Angular from traversing the DOM element tree beyond a falsy statement -->
<div *ngIf="!current">
  no data
</div>
<div *ngIf="current">
  <div fxLayout="row">
    <div fxFlex="66%">{{current.city}}, {{current.country}} </div>
    <div fxFlex>{{current.date | date: 'fullDate'}}</div>
  </div>
  <div fxLayout="row">
    <div fxFlex="66%">
      <img [src]="current.image" alt="Sun clipart">
    </div>
    <div fxFlex>{{current.temperature | number: '1.0-0'}}°F</div>
  </div>
  <div>
    {{current.description}}
  </div>
</div>
